{{#if success_msg}}
<div class="alert alert-success alert-dismissible fade show" data-auto-dismiss="1500" role="alert">
    {{success_msg}}</div>
{{/if}} {{#if error_msg}}
<div class="alert alert-danger alert-dismissible fade show" data-auto-dismiss="1500" role="alert">{{error_msg}}</div>
{{/if}}