<div class="jumbotron text-center">
    <h1 class="disply-3">{{title}}</h1>
    <p class="lead">Adding your device to MANAGEMENT!!!</p>

    <a href="/device/add" class="btn btn-dark btn-lg">Add Device</a>
</div>